*{
  margin: 0;
  padding: 0;
}
.logo{
    width: 20vw;
}
#container {

    display: flex;
 justify-content: space-around;
 align-items: center;
 background-color: red;

}
.barradepesquisa{
    width: 30vw;
    height: 4vh;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #eae7e7;
    padding-left: 10px;

}
.barradepesquisa::placeholde{
padding-left: 20px;
color: #a6a5a5;
}

.search {
    width: 40vw;
}
#searchicon{
margin-left: -2vw;
color: #a6a5a5;
}
.redirections{
    width: 20vw;
    height: 5vh;
    display: flex;
    align-items: center;
    
   
}
.links{
    width: 15vw;
    height: 5vh;
    align-items: center;
display: flex;

}
.links button{
    margin-left: 2vw;
    height: 5vh;
    width: 6vw;
    border-radius: 20px;
    color: white;
    background-color: #c92071;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: rgb(52, 51, 51);
}
#carinho{
    color: #c92071;
    font-size:  20px;
}

.categorias{
    width: 10vw;
    height: 10vh;
    align-items: center;
    display: flex;
    color: black;
}